@media screen and (max-width: 576px){
  .menu-item{
  display: none;

  }
  .hamburger-menu{
    display: block;
    flex-direction: row;
    margin-right: 10px;
  }
  .title{
    margin-left: 10px;
  }
  .bannar-main{
    flex-direction: column;
  }
  .bannar-left-main{
    margin-left: 10px;
  }
  .bannar-left{
    font-size: 40px;
  }
  #b-p{
    font-size:14px ;
  }
.bannar-right{
  margin: 10px auto;
}
.b-btn-right{
margin-right: -140px;
margin-top: -100px;
}
.b-btn-left{
margin-top: -100px;
}
.habits-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px auto;
}
.habits-bottom{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px auto;
}
.k{
  margin: 10px auto;
}
.habits-para{
  text-align: center;
  margin-left: 50px;
}
.h4{
  margin-left: 50px;
}
}