@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* pernent style  */
body{
  font-family: "Inter";
  background-color: rgb(34, 34, 34);
  /* border: 2px solid white; */
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn-praimary{
  border-radius: 45px;
  background: rgb(230, 83, 60);
  width: 92px;
  height: 38px;
  padding: 12px 20px 12px 20px;
  font-size: 20px;
  /* border: 2px solid green; */
}
.title{
  width: 132px;
  height: 43px;
  color: rgb(230, 83, 60);
  font-size: 36px;
  font-weight: 700;
  text-align: left;
  /* border: 2px solid green; */
}
.nav-main{
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  margin-top: 20px;
  /* border: 2px solid red; */

}
.menu-item{
  width: 565px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  color: white;
  /* border: 2px solid red; */
}
.hamburger-menu{
  display: none;
  color: white;
  padding-top: 6px;
  font-size: 25px;
  /* border: 2px solid green; */
}
