@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* pernent style  */
body{
  font-family: "Inter";
  background-color: rgb(34, 34, 34);
  /* border: 1px solid white; */
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn-praimary{
  border-radius: 45px;
  background: rgb(230, 83, 60);
  width: 92px;
  height: 38px;
  padding: 12px 20px 12px 20px;
  font-size: 20px;
  /* border: 2px solid green; */
}
.title{
  width: 132px;
  height: 43px;
  color: rgb(230, 83, 60);
  font-size: 36px;
  font-weight: 700;
  text-align: left;
  /* border: 2px solid green; */
}
.nav-main{
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  margin-top: 20px;
  /* border: 2px solid red; */

}
.menu-item{
  width: 565px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  color: white;
  /* border: 2px solid red; */
}
.hamburger-menu{
  display: none;
  color: white;
  padding-top: 6px;
  font-size: 25px;
  /* border: 2px solid green; */
}
/* bannar section  */
.bannar-main{
  display: flex;
  flex-direction: row;
  margin: 40px auto 40px auto;
  max-width: 1440px;
  /* border: 1px solid green; */
  gap: 10%;
}
.bannar-left{
  color: white;
  font-size: 70px;
  font-weight: 700;
  padding-top: 70px;
  padding-bottom: 30px;
  width: 44%;
}
#b-p{
  color: rgba(255, 255, 255, 0.5);
  /* padding-top: 25px; */
}
.btn-wrep{
  display: flex;
  padding-top: 50px;
  gap: 15px;
}
#tara{
  font-family: "Dancing Script", cursive;
}
.btn-1{
  background: rgb(230, 83, 60);
  color: white;
  width: 224px;
  height: 54px;
  border-radius: 42px;
  border: none;

}
.btn-2{
  background-color: black;
  color: white;
  width: 224px;
  height: 54px;
  border-radius: 42px;
  border: none;
  border: 1px solid white;
}
.bannar-right{
  width: 44%;
  /* border: 1px solid green; */
  position: relative;
}
.bannar-left-main{
  /* border: 1px solid green; */
}
.b-btn-main{
  display: flex;
  justify-content: space-between;
}
.b-btn-left{
  height: 60px;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.384);
  color: white;
  border: 1px solid red;
  display: flex;
  position: absolute;
  top: 70%;
  left: -10%;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.b-btn-right{
  height: 60px;
  width: 170px;
  background-color:rgba(48, 48, 48, 0.54);
  color: white;
  /* border: 1px solid red; */
  padding-top: 5px;
  position: absolute;
  top: 25%;
  right: 0%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 22px;
}
.oo{
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  /* border: 1px solid white; */
}
#s-btn{
  height:30px ;
  width: 30px;
  background-color:  rgb(230, 83, 60);
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 10px;
  /* border: 1px solid white; */
}
#b-p-l{
  color: rgba(239, 237, 232, 0.65);
  font-size: small;
}
#b-p-r{
  color: rgba(239, 237, 232, 0.65);
  font-size: small;
}
/* Habits section  */
.habits-container{
  display: flex;
  flex-direction: column;
  margin: 40px auto 40px auto;
  max-width: 1440px;
  /* border: 1px solid green; */
}
.habits-top{
  /* border: 1px solid white; */
}
.habits-bottom{
  display: flex;
  width: 99%;
  /* border: 1px solid red; */
}
.h3{
  color:white;
  width: 475px;
  height: 60px;
  font-size: 30px;
  font-weight: 800;
  margin: 15px auto 0 auto;
  text-align: center;
}
.habits-main{
  color: rgba(255, 255, 255, 0.5);
  width: 99%;
  height: 48px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
}
.h4{
  color:white;
  /* text-align: center; */
}
.h-p{
  border-radius: 50%;
  /* border: 1px solid white; */
}
.habits-para{
  color: rgba(255, 255, 255, 0.5) ;
  font-size: 14px;
}
.k{
  width: 25%;
  text-align: center;
  /* border: 1px solid green; */
}
/* Run section  */
.run-container{
  display: flex;
  /* flex-direction: column; */
  max-width: 1440px;
  margin: 20px auto;
  /* border: 1px solid white; */
  gap: 10%;
}
.run-left{
/* border: 1px solid red; */
display: flex;
flex-direction: column;
width: 45%;
/* border: 1px solid white; */

}
.run-right{
  /* border: 1px solid white; */
  width: 45%;
  /* justify-content: end; */
  /* justify-items: end; */
  /* align-items: end; */
  /* align-content: end; */
  margin-right: 0 auto;
  border-radius: 50px;
}
.run-heding{
  color:white;
  width: 475px;
  height: 60px;
  font-size: 30px;
  font-weight: 800;
  margin-top: 60px ;
  margin-bottom: 15px;
}
.run-para{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin-top: 15px ;
  margin-bottom: 15px;
}
.run-btn{
  background: rgb(230, 83, 60);
  color: white;
  width: 224px;
  height: 54px;
  border-radius: 42px;
  border: none;
  margin-top: 15px ;
  margin-bottom: 15px;
}
/* team section  */
.team-container{
display: flex;
flex-direction: column;
max-width: 1440px;
margin: 10px auto;
/* border: 1px solid white; */
}
.team-top{
  text-align: center;
  margin: 20px auto;
  /* border: 1px solid red; */
}
.team-heding{
  color:white;
  height: 60px;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}
.team-para-1{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}

.team-para{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  position: relative;
  bottom: 60px;
  left: 10px;
}
.pc-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: 20px auto 0 auto;
  gap: 20px;
  
}
.tr-pc{
  width: 325px;
  height: 270px;
  border-radius: 15px;
  /* border: 1px solid red; */
}
.tr-name{
  color: white;
  font-size: 20px;
  position: relative;
  bottom: 60px;
  left: 10px;
}
/* footer section  */
.footer-main{
  display: flex;
  flex-direction: row;
  max-width: 1440px;
  margin: 0 auto;
  /* border: 1px solid white; */

}
.f-heding{
  color: white;
  font-size: 20px;
}
.f-s{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin: 10px auto;
}
.child-1{
max-width: 477px;
margin-left: 15%;
  /* border: 1px solid white; */

}
.child-2{
  max-width: 477px;
  margin-left: 10%;
  /* border: 1px solid white; */

}
.child-3{
  max-width: 477px;
  margin-left: 10%;
  /* border: 1px solid white; */

}
#footer-copyright{
  text-align: center;
  margin: 20px auto 50px auto;
}
